<div class="menubar">
   <% if member_signed_in? %>
&nbsp;|&nbsp;<%= link_to current_member.name + "さん",  :root %>
&nbsp;|&nbsp;<%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
&nbsp;|&nbsp;<%= link_to "記録", :new_kiji %>
   <% else %>
&nbsp;|&nbsp; <%= link_to "新規登録",  :new_member_registration %>
&nbsp;|&nbsp; <%= link_to "ログイン", :new_member_session %>
  <% end %>
</div>
