<!DOCTYPE html>
<html>
<head>
<meta charset="uft-8" />
  <title>Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="header">
<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= render "share/header" %> 
  </div>

<div class="content">
<%= yield %>
  </div>
  <div class="footer">
  <% render "share/footer" %>
  </div>
  </div>


</body>
</html>
